node_modules
dist
storybook-static
*.local

# test artifacts
test-report.junit.xml
coverage
.vitest-reports

# federation specific build files
.__mf__temp

# yalc local package linking
.yalc
yalc.lock